# Configuración de la base de datos
MONGO_URI=mongodb://localhost:27017/
DB_NAME=pediatra

# Configuración del servidor
HOST=0.0.0.0
PORT=5000
DEBUG=true

# Configuración de correo electrónico
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
DOCTOR_EMAIL=doctor@consultorio.com